<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display Movies</title>
</head>
<body>
    <div style="list-style: none; display: inline-block;">
        <% parsedData['Search'].forEach(function(movies){ %>
        <li> <%= movies['Title'] %></li>
        <li> <img src="<%= movies['Poster'] %>" alt=""> </li>
        <% }) %>
    </div>

    <a href="/">Search Again</a>
</body>
</html>