<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie API</title>
</head>
<body>
    <form action="/movie" method="POST">
       <input type="text" name="movie" placeholder="Movie name(make sure you spell it correctly)">
       <input type="submit" value="Submit">
    </form>
</body>
</html>